.playcard_table {
    position: relative;
    margin: 0px auto;
    width: 70%;
    height: 500px;
    /* padding: 50px; */
    transition: all 0.5s ease;
}

.playcard_table_place {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 65px;
    background-color: rgba(0, 255, 0, 0.356);
    background: radial-gradient(circle at center, #166916, #083808 90%, #005200);
    width: 85%;
    height: 85%;
    border-radius: 100%;
    border-width: 3px;
    border-style: solid;
    border-color: grey;
    box-shadow: 0 0 5px white, inset 0 0 5px white;
}

.playcard_table_user {
    position: absolute;
    transform: translate(-50%, -50%);
    font-size: 12px;
    z-index: 1;
}


.poker_tracker {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    letter-spacing: 7px;
    color: #00000080;
    font-weight: 800;
    font-size: 24px;
    display: flex;
    justify-content: center;
    z-index: 1000;
}

.poker_tracker_profix {
    color: rgb(173, 173, 160);
}

.poker_panel {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.letter_animation {
    opacity: 1;
    transition: opacity 4s, transform 0.45s;
}

.letter_animation_pre {
    opacity: 1;
}

.letter_animation_run {
    opacity: 0;
    transform: translate(-50%, -50%) translateY(-90px);
}

.letter_animation_run_fold {
    opacity: 0;
    transform: translate(0%, -20%) translateY(-60px);
}

.chip_betting {
    position: absolute;
    transform: translate(-50%, -50%);
    transition: left 0.45s, top 0.45s;
    transition-timing-function: ease-in-out;
    z-index: 1;
}
.chip_betting_img {
    position: absolute;
    transform: translate(-50%, -50%);
    transition: left 0.45s, top 0.45s;
    transition-timing-function: ease-in-out;
    z-index: 1;
    animation: fadeOut 0.45s 0.45s forwards;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.betting_amount {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    letter-spacing: 7px;
    color: #00000080;
    font-weight: 800;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 1;
}

.poker_street {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 65px;
    background-color: rgba(0, 255, 0, 0.356);
    background: radial-gradient(circle at center, #166916, #083808 90%, #005200);
    width: 85%;
    height: 85%;
    border-radius: 100%;
    border-width: 3px;
    border-style: solid;
    border-color: grey;
    box-shadow: 0 0 5px white, inset 0 0 5px white;
}